{% extends "base.html" %}

{% block content %}
<h1 class="text-center"> 0400_verification </h1>

<div class="container-fluid mt-4">
    <div class="card shadow mb-4 col-xl-6 col-lg-6 col-md-6">
        <div class="card-header">
            <strong>Validate</strong> 
        </div>
        <div class="card-body" id="error_types">
            <div class="card-body">
                <div class="small mb-1 text-muted">Validate error or reported bug case</div>
                <form class="form-inline">
                    <div class="row">
                        <div class="form-floating">
                            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com">
                            <label for="inputEmail">Connected FogBugz case number</label>
                            <a class="btn btn-outline-success mt-3" href="#">Validate!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-4">
    <div class="card shadow mb-4">
        <div class="card-header">
            <strong>Current run</strong> 
        </div>
        <div class="card-body" id="error_types">
            <table id="simpleTable">
                <thead style="display: none;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>22</td>
                        <td>DEBUG</td>
                        <td>2022.11.04 19:43:06</td>
                        <td> <a href="#"> TESTERW10 </a> </td>
                        <td>
                            <h6>
                                <span class="badge bg-danger me-2">
                                    ERROR 
                                </span>
                            </h6>
                             
                        </td>
                        <td>current counts {error: 1} ,
                            last counts was </td>
                        <td> 578.559</td>
                        <td>Repository info</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between">
            <strong>Validated run</strong>

            <a href="#" class="btn btn-sm btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                </span>
                <span class="text ">Remove validation</span>
            </a>
        </div>
        <div class="card-body">
            <table id="simpleTable1">
                <thead style="display: none;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>22</td>
                        <td>DEBUG</td>
                        <td>2022.11.04 19:43:06</td>
                        <td> <a href="#"> TESTERW10 </a> </td>
                        <td>
                            <h6>
                                <span class="badge bg-success me-2">SUCCESS</span> 
                            </h6> 
                        </td>
                        <td>current counts {error: 1} ,
                            last counts was </td>
                        <td> 578.559</td>
                        <td>Repository info</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



{% endblock content %}